<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>JavaDoc Browser</display-name>

  <context-param>
    <param-name>repository</param-name>
    <param-value>/home/someone/.m2/repository</param-value>
  </context-param>

  <servlet>
    <servlet-name>Doc Servlet</servlet-name>
    <servlet-class>org.planbnet.docbrowser.DocServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Doc Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>